.hide{
    display: none;
}


@media screen and (max-width: 576px){
  .nav-items{
    display: none;
  }

  .ham-burger{
    display: block;
    margin-right: 10px;
  }

  .logo{
    margin-left: 10px;
  }
}