.hide{
    display: none;
}


@media screen and (max-width: 576px){
   .nav-bar{
    flex-direction: column;
   }
}

@media screen and (max-width: 576px){
    .nav-items{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 576px){
   .body-section{ 
     flex-direction: column;
   } 
}